{{#if msg}}
<div class="alert alert-success text-center">{{msg}}</div>
{{else}}
{{/if}}
{{#if exist}}
<div class="alert alert-danger text-center">{{exist}}</div>
{{else}}
{{/if}}
<div class="row">
    <div class="col-7 bg-secondary text-light mx-1">
        <h1>Professor: {{professor.nome}} </h1>
    </div>
    <div class="col-4 text-center mark">
<h1><span class="text-secondary">Minipautas:</span>  / {{ano.codigo}}</h1>

    </div>
</div>
<hr>
<div class="bg-secondary">
    <div class="row">

    <div class="col-11">
    <a href="/professor/{{professor.usuario}}"><button class=" btn btn-sm bg-laranja text-light">Voltar ao perfil</button> </a>
    <span class="text-light text-center" > Minipautas das turmas que leciona durante o ano Lectivo {{ano.codigo}} - Apenas as turmas que o professor da aula</span> 

    </div>
    {{!-- <div class="col-2 text-end"><a href="#" onclick="addDisciplina()"><button class="btn btn-sm btn-warning" >Adicionar disciplina</button></a></div> --}}
    </div>
</div>
<hr>


<ol class="list-group list-group-numbered">
    <div class="container">
        <div class="mynav mt-1">

        <div class="mycardTurmas px-5">

       {{#each minipautas}}
       
       <div class="conteiner c-flex">
            <div class=" card p-4 m-2 bg-light mybox  d-flex">
                <h3 class="text-primary fw-bold" > {{nomeDisciplina}} </h3>
                <p> {{idClasse.designacao}} / <span class="text-secondary" >Turma: </span> <span class="text-info" >{{idTurma.codigo}}</span> </p>
                <a href="/professor/minipauta/{{_id}}" class="btn btn-sm btn-secondary"><span>Ver minipauta</span></a>
                </div>   
       </div>
    
{{else}}
        </div>
<div class="h3 text-center mt-3">Nenhuma minipauta encontrada</div>
{{/each}} 
        </div>

<!-- Modal addClasse-->

<form action="/classes/add" method="post">
    <div class="modal" tabindex="-1" data-bs-backdrop="static" id="addClasse">
        <div class="modal-dialog modal-dialog-centered">
            <form action="/candidatos/consultar" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Adicionar nova classe</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body input-box">
                        <label for="designacao">Designação:</label>
                        <select name="designacao" required>
                            <option value="selecionar">Selecionar</option>
                            <option value="10ª Classe">10ª classe</option>
                            <option value="11ª Classe">11ª Classe</option>
                            <option value="12ª Classe">12ª Classe</option>
                        </select>
                        <label for="numVagas">Nº Vagas:</label>
                        <input type="number" name="numVagas" class="form-control" required><br>
                        <label for="turnos">Turnos:</label>
                        <select name="turnos" required>
                            <option value="selecionar">Selecionar</option>
                            <option value="matinal">Matinal</option>
                            <option value="vespertino">Vespertino</option>
                            <option value="noturno">Noturto</option>
                            <option value="matVespertino">Matinal e Vespertino</option>
                            <option value="todos">Todos</option>
                        </select>
                        <input type="hidden" name="idCurso" value="{{curso._id}}">
                        <input type="hidden" name="idAno" value="{{ano._id}}">

                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                    <div class="modal-footer text-center">
                        {{!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Feichar</button>
                        --}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</form>

<!-- Modal addTurma-->

<form action="/turmas/add" method="post">
    <div class="modal" tabindex="-1" data-bs-backdrop="static" id="addTurma">
        <div class="modal-dialog modal-dialog-centered">
            <form action="/candidatos/consultar" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Adicionar nova turma</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body input-box">
                        <label for="classe">Classe:</label>
                        <select name="classe" required>
                            {{#if classe10}}
                            <option value="10ª Classe">10ª classe</option>
                            {{else}}
                            {{/if}}
                            {{#if classe11}}
                            <option value="11ª Classe">11ª classe</option>
                            {{else}}
                            {{/if}}
                            {{#if classe12}}
                            <option value="12ª Classe">12ª classe</option>
                            {{else}}
                            {{/if}}
                        </select>
                        <label for="codigo">Código:</label>
                        <input type="text" name="codigo" placeholder="Digite o código da turma" required>
                        <label for="periodo">Período:</label>
                        <select name="periodo" required>
                            <option value="selecionar">Selecionar</option>
                            <option value="matinal">Matinal</option>
                            <option value="vespertino">Vespertino</option>
                            <option value="noturno">Noturto</option>
                        </select>
                        <input type="hidden" name="idCurso" value="{{curso._id}}">
                        <input type="hidden" name="idAno" value="{{ano._id}}">

                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                    <div class="modal-footer text-center">
                        {{!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Feichar</button>
                        --}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</form>

<!-- Modal addDisciplina-->

<form action="/disciplinas/add" method="post">
    <div class="modal" tabindex="-1" data-bs-backdrop="static" id="addDisciplina">
        <div class="modal-dialog modal-dialog-centered">
            <form action="/candidatos/consultar" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Adicionar nova disciplina</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body input-box">
                        <label for="nomeDisciplina">Nome da disciplina:</label>
                        <input type="text" name="nomeDisciplina" required>
                        <label for="tempoLectivo">Tempo lectivo por semana:</label>
                        <input type="text" name="tempoLectivo" required>
                        
                        <input type="hidden" name="idClasse" value="{{classe._id}}">
                        <input type="hidden" name="idCurso" value="{{curso._id}}">
                        <input type="hidden" name="idAno" value="{{ano._id}}">

                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                    <div class="modal-footer text-center">
                        {{!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Feichar</button>
                        --}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</form>

<script src="assets/bootstrap.bundle.min.js" class="img-fluid"></script>
<script>
    function addClasse() {

        let el = document.getElementById('addClasse');
        let minha_modal = new bootstrap.Modal(el);
        minha_modal.show();
    }

    function addTurma() {
        let el = document.getElementById('addTurma');
        let minha_modal = new bootstrap.Modal(el);
        minha_modal.show();
    }


    function addDisciplina() {
        let el = document.getElementById('addDisciplina');
        let minha_modal = new bootstrap.Modal(el);
        minha_modal.show();
    }



</script>