<div class="form-headear">
    <div class="title">
        <h1>Matrícula - > {{candidato.nome}}</h1>
    </div>
</div>
<hr>
 <div class="row">
    <div class="col-6 offset-3">
         {{#each erros}}
        <div class="alert alert-danger text-center">{{texto}}</div>
    {{else}}
    {{/each}}
    </div>
   </div>
<div class="container">
    <div class="card input-box">
        <div class="card-body form-candidato mybox">
            <form action="/turmas/saveNovaMatricula" method="post">

                <div class="row">
                    <div class="col-6 p-3">
                        <div class="lead text-info">Dados informados no acto da inscrição</div>
                        <label for="nome">Nome:</label>
                        <input type="text" name="nome" value="{{candidato.nome}}" class="form-control" required>
                        <div class="row">
                            <div class="col-6">
                                <label for="numBI">BI:</label>
                                <input type="text" name="numBI" value="{{candidato.numBI}}" class="form-control" required>
                            </div>
                            <div class="col-6">
                                <label for="contacto">Contacto:</label>
                                <input type="text" name="contacto" value="{{candidato.contacto}}" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="genero">Genero:</label>
                                <input type="text" name="genero" value="{{candidato.genero}}" class="form-control" required>
                            </div>
                            <div class="col-6">
                                <label for="dataNascimento">Data de nascimento:</label>
                                <input type="date" name="dataNascimento" value="{{candidato.dataNascimento}}"
                                    class="form-control" required>

                            </div>
                        </div>
                        <label for="curso">Curso em que se inscreve</label>
                        <input type="text" name="curso" value="{{candidato.curso}}" class="form-control">
                        <div>Obs: <span class="text-danger" >Carregue seu comprovativo e talão de recenciamento militar (para os homens) para validar sua matricula</span></div>
                            
                            <div class="row">
                                <div class="col-9">
                                    <input type="hidden" name="idCandidato" value="{{candidato._id}}">
                                    <input type="hidden" name="idTurma" value="{{candidato.idTurma}}">
                                    <input type="hidden" name="idClasse" value="{{candidato.idClasse}}">
                                    <input type="hidden" name="idCurso" value="{{candidato.idCurso}}">
                                    <input type="hidden" name="idAno" value="{{candidato.idAno}}">
                            <a href="#" class="btn btn-danger mt-4">Cancelar</a>
                            <button type="submit" class="btn btn-success mt-4">Matricular</button>
                            <a href="#" class=" btn mt-4 bg-secondary text-light">carregar arquivos</a>

                                </div>
                                <div class="col-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="" alt="Foto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-6 p-3">
                        <div class="lead text-danger">Dados adicionais</div>
                        <label for="filiacao">Filiação:</label>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" name="pai" placeholder="Escreve o nome do Pai" class="form-control"
                                    required>
                            </div>
                            <div class="col-6">
                                <input type="text" name="mae" placeholder="Escreve o nome da Mãe" class="form-control"
                                    required>
                            </div>
                        </div>
                        <label for="escolaAnt">Escola anterior:</label>
                        <input type="text" name="escolaAnt" placeholder="Ecola onde fez a 9ª classe"
                            class="form-control" required>
                        <label for="morada">Morada</label>
                        <input type="text" name="morada" placeholder="exemplo: bairro/Município" class="form-control"
                            required>

                        <hr>
                        <div class="bg-light p-3">

                            <h4 class="text-center">Dados do encarregado de educação</h4>
                            <label for="nomeEncarregado">Nome:</label>
                            <input type="text" name="nomeEncarregado" placeholder="informe o nome do encarregado"
                                class="form-control" required>
                            <div class="row">
                                <div class="col-6">
                                    <label for="proficao">Profissão:</label>
                                    <input type="text" name="proficao" placeholder="Opcional" class="form-control">
                                </div>
                                <div class="col-6">
                                    <label for="contactoEncarregado">Contacto:</label>
                                    <input type="text" name="contactoEncarregado" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>