<div class="conteiner">
    <div class="row">
        <div class="col-9 p-2">
            <h1><span class="text-secondary" >Ano Lectivo:</span> {{anoLectivo.codigo}} </h1>

        </div>
        <div class="col-3 text-center p-2">
            <h2 class="mark" >Pautas</h2>
        </div>
    </div>
</div>
<hr>

<div class="mynav mt-1">

    <ul class="mycard-pautas bg-light">
        {{#each pautas10}}
        <li class="text-center bg-secondary p-2 pt-4">
            <div class="lead text-light">PAUTAS</div>
            
            <div class="h5 mt-4">
                <span class="text-light" >{{classe.designacao}}</span>
            </div>
            <hr class="text-light m-1" >
            <span class="text-light" > {{curso.descricao}} </span><br>
            <span class="text-light" >Turma: <span class="fw-bold text-warning" >{{turma.codigo}}</span>  </span><br>
            <a href="/pedagogico/pauta/{{_id}}" class="btn btn-sm bg-warning mt-5">Ver Pautas</a><br>

            
        </li>

        {{else}}
    </ul>
    <div class="h3 text-center mt-3">Nenhuma pauta da 10ª Classe</div>
    {{/each}}
    <hr>
    <ul class="mycard-pautas bg-light">
        {{#each pautas11}}
        <li class="text-center bg-secondary p-2 pt-4">
            <div class="lead text-light">PAUTA</div>
            
            <div class="h5 mt-4">
                <span class="text-light" >{{classe.designacao}}</span>
            </div>
            <hr class="text-light m-1" >
            <span class="text-light" > {{curso.descricao}} </span><br>
            <span class="text-light" >Turma: <span class="fw-bold text-warning" >{{turma.codigo}}</span>  </span><br>
            <a href="/anosLectivo/config/{{_id}}" class="btn btn-sm bg-warning mt-5">Ver Pauta</a><br>

            
        </li>

        {{else}}
    </ul>
    <div class="h3 text-center mt-3">Nenhuma pauta 11ª Classe</div>
    {{/each}}
    <hr>
    <ul class="mycard-pautas bg-light">
        {{#each pautas12}}
        <li class="text-center bg-secondary p-2 pt-4">
            <div class="lead text-light">PAUTA</div>
            
            <div class="h5 mt-4">
                <span class="text-light" >{{classe.designacao}}</span>
            </div>
            <hr class="text-light m-1" >
            <span class="text-light" > {{curso.descricao}} </span><br>
            <span class="text-light" >Turma: <span class="fw-bold text-warning" >{{turma.codigo}}</span>  </span><br>
            <a href="/anosLectivo/config/{{_id}}" class="btn btn-sm bg-warning mt-5">Ver Pauta</a><br>

            
        </li>

        {{else}}
    </ul>
    <div class="h3 text-center mt-3">Nenhuma pauta da 12ª Classe</div>
    {{/each}}
    <hr>

</div>